section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  /* padding: 0.5rem;
  gap: 0.5rem; */
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  top: 7.5rem;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0 0.25rem 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
